.main {
  background-color: blueviolet;
  width: 50%;
  height: 50vh;
}
.tutilos {
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 20vh;
  font-family: Arial, sans-serif;
}
